html, body {
  border: none;
  outline: none;
  padding: none;
  background-color: transparent;
  color: #fff;
}

#WindowWrapper {
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: silver;
  color: #fff;
  margin: -8px 0 0 -8px;
  float: left;
  width: 400px;
  min-width: 400px;
  max-width: 400px;
  height: 500px;
  min-height: 500px;
  max-height: 500px;
}

#WindowNavContainer {
  border: none;
  outline: none;
  border-radius: 6px 6px 0 0;
  background-color: #222;
  color: #fff;
  margin: 0 0 0 0;
  float: left;
  width: 400px;
  min-width: 400px;
  max-width: 400px;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
}
#WindowNavContainer #MenuIconWrapper {
  border: none;
  outline: none;
  border-radius: 6px 0 0 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  user-drag: none;
  background-color: #222;
  color: #fff;
  margin: 0 0 0 0;
  float: left;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
}
#WindowNavContainer #MenuIconWrapper #MenuIconIMG {
  margin: 7px 0 0 7px;
  float: left;
  user-select: none;
  user-drag: none;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  width: 25px;
  min-width: 25px;
  max-width: 25px;
  height: 25px;
  min-height: 25px;
  max-height: 25px;
}
#WindowNavContainer #MenuIconWrapper:hover {
  border: none;
  outline: none;
  border-radius: 6px 0 0 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  user-drag: none;
  background-color: #444;
  color: #fff;
  margin: 0 0 0 0;
  float: left;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
}
#WindowNavContainer #TitleWrapper {
  margin: -3px 0 0 10px;
  float: left;
  font-size: 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: "Dhurjati", sans-serif;
}
#WindowNavContainer #VersionWrapper {
  margin: 18px 0 0 -129px;
  float: left;
  font-size: 12px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: "Dhurjati", sans-serif;
}
#WindowNavContainer #WindowControls {
  border: none;
  outline: none;
  border-radius: 0 6px 0 0;
  background-color: #222;
  color: #fff;
  margin: 0 0 0 0;
  float: right;
  width: 110px;
  min-width: 110px;
  max-width: 110px;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
}
#WindowNavContainer #WindowControls #ControlsInput1 {
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #f70303;
  color: #fff;
  margin: 5px 5px 0 0;
  float: right;
  width: 30px;
  min-width: 30px;
  max-width: 30px;
  height: 30px;
  min-height: 30px;
  max-height: 30px;
}
#WindowNavContainer #WindowControls #ControlsInput1:hover {
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #cc0000;
  color: #fff;
  margin: 5px 5px 0 0;
  float: right;
  width: 30px;
  min-width: 30px;
  max-width: 30px;
  height: 30px;
  min-height: 30px;
  max-height: 30px;
}
#WindowNavContainer #WindowControls #ControlsInput2 {
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #fc5102;
  color: #fff;
  margin: 5px 5px 0 0;
  float: right;
  width: 30px;
  min-width: 30px;
  max-width: 30px;
  height: 30px;
  min-height: 30px;
  max-height: 30px;
}
#WindowNavContainer #WindowControls #ControlsInput2:hover {
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #e04700;
  color: #fff;
  margin: 5px 5px 0 0;
  float: right;
  width: 30px;
  min-width: 30px;
  max-width: 30px;
  height: 30px;
  min-height: 30px;
  max-height: 30px;
}
#WindowNavContainer #WindowControls #DragControl {
  margin: 3px 0 0 5px;
  float: left;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-app-region: drag;
}

#swapper-first {
  border: none;
  outline: none;
  display: block;
  border-radius: 0 0 6px 6px;
  background-color: #222;
  color: #fff;
  margin: 0 0 0 0;
  float: left;
  width: 400px;
  min-width: 400px;
  max-width: 400px;
  height: 460px;
  min-height: 460px;
  max-height: 460px;
}
#swapper-first #AppsContainer {
  border: none;
  outline: none;
  border-radius: 0 0 0 4px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #999;
  color: #fff;
  margin: 0 0 5px 5px;
  float: left;
  width: 195px;
  min-width: 195px;
  max-width: 195px;
  height: 455px;
  min-height: 455px;
  mac-height: 455px;
}
#swapper-first #ShortcutsContainer {
  border: none;
  outline: none;
  border-radius: 0 0 6px 0;
  background-color: #222;
  color: #fff;
  margin: 0 0 0;
  float: left;
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  height: 460px;
  min-height: 460px;
  mac-height: 460px;
}

#swapper-other {
  border: none;
  outline: none;
  display: none;
  border-radius: 0 0 6px 6px;
  background-color: #444;
  color: #fff;
  margin: 0 0 0 0;
  float: left;
  width: 400px;
  min-width: 400px;
  max-width: 400px;
  height: 460px;
  min-height: 460px;
  max-height: 460px;
}/*# sourceMappingURL=INDEX.css.map */